<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    
    <title>Dot Game</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-normalize@1.1.0/modern-normalize.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <div class="header-menu">
        <h1>Score: 10012</h1>
        <button class="button button-xl">Start</button>
      </div>

      <div class="header-menu-input">
        <input class="input" id="speed" type="range" min="0" max="100" />
        <label class="label" for="speed">Current Speed: Medium</label>
      </div>
    </header>
    <main>
      <button class="dot one" alt="dot" />
      <button class="dot two" alt="dot" />
      <button class="dot three" alt="dot" />
    </main>
    <script type="module" src="index.js"></script>
  </body>
</html>
