<!DOCTYPE html>
<html>
  <head>
    <title>Dot Game</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <div class="header-menu">
        <h1>10012</h1>
        <button>Start</button>
      </div>

      <div class="header-menu">
        <input id="speed" type="range" min="0" max="100" />
        <label for="speed">Speed</label>
      </div>
    </header>
    <main>
      <button alt="dot" />
      <button alt="dot" />
      <button alt="dot" />
    </main>
    <script type="module" src="index.js"></script>
  </body>
</html>
