@import "https://cdn.jsdelivr.net/npm/open-props@1.4.17/open-props.min.css";


:root {
  --header-bg-color: white;
  --bg-color: white;
  --font-color: var(--gray-9);
  --overlay-bg-color: var(--gray-7);
  --tooltip-bg-color: white;
  --tooltip-front-color: var(--gray-9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-bg-color: var(--gray-8);
    --bg-color: var(--gray-8);
    --font-color: var(--gray-0);
    --tooltip-bg-color: var(--gray-5);
    --tooltip-front-color: var(--gray-9);
  }
}


/**
 * Base global styling
 */
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-sans);
  color: var(--font-color);
}

.button {
  color: var(--gray-0);
  background-color: var(--indigo-7);
  border: var(--border-size-2) solid var(--gray-7);
  cursor: pointer;
  border-radius: var(--radius-round);

  &:hover {
    background-color: var(--indigo-9);
  }
  box-shadow: var(--shadow-3);
  text-transform: uppercase;
}

.button-xl {
  padding: var(--size-4) var(--size-8);
}




/**
 * Header styling
 */
header {
  border-bottom: var(--border-size-1) solid var(--gray-7);
  padding: var(--size-4) var(--size-2);
  background-color: var(--header-bg-color);
  
  h1 {
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-4);
  }
  
  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--size-2);
  }
  
  .header-menu-input {
    display: flex;
    flex-direction: column;
    
    .input {
      cursor: pointer;
      background-color: var(--yellow-4);
      appearance: none;
      border-radius: var(--radius-round);
      margin-bottom: var(--size-4);
      height: var(--size-2);
    }
    
    .label {
      font-size: var(--font-size-1);
      font-weight: var(--font-weight-5);
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: var(--size-4) var(--size-8);
    
    h1 {
      font-weight: var(--font-weight-7);
      font-size: var(--font-size-7);
    }
  }
}

/**
 * Body styling
 *
 */
main {
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  padding: 0 var(--size-2);
  background-color: var(--bg-color);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg-color);
  opacity: 25%;
}

.start-button-wrapper {
  position: relative;
}


/**
 * Dots styling
 */
.dot {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: var(--radius-round);
  border: var(--border-size-1) solid var(--gray-7);
  box-shadow: var(--shadow-5);
  background-color: var(--violet-5);
  padding: 0;
}

.one {
  width: 100px;
  height: 100px;
  transform: translate(300px, 250px)
}


.two {
  width: 50px;
  height: 50px;
  background-color: var(--violet-5);
  transform: translate(0px, 0px)
}


/**
 * Guide styling
 */ 
.guide-tooltip {
  background: var(--tooltip-bg-color);
  z-index: var(--layer-2);
  padding: var(--size-5);
  border-radius: var(--radius-3);
  color: var(--tooltip-front-color);
  
  &.arrow-top {
     &:before {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border: 6px solid transparent;
       
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border: 9px solid transparent;
      left: 50%;
      bottom: 100%;
      border-bottom-color: var(--tooltip-bg-color);
    }
  }
}