/**
 * Base global styling
 */
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: system-ui, sans-serif;
}

.button {
  
}




/**
 * Header styling
 */
header {
  margin: 0 24px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}