@import "https://unpkg.com/open-props/src/index.css";

/**
 * Base global styling
 */
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  
  font-family: var(--font-sans);
}

.button {
  color: var(--gray-0);
  background-color: var(--indigo-8);
  border: var(--border-size-2) solid var(--gray-7);
  cursor:pointer;
  border-radius: var(--radius-round);
w
  &:hover {
    background-color: var(--indigo-9);
  }
  box-shadow: var(--shadow-3);
  text-transform: uppercase;
}

.button-xl {
  padding: var(--size-4) var(--size-8);
}




/**
 * Header styling
 */
header {
  padding: var(--size-4) var(--size-8);
  border-bottom: var(--border-size-1) solid var(--gray-7);
  
  h1 {
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-7);
  }
  
  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-menu-input {
    display: flex;
    flex-direction: column;
    
    .input {
      cursor: pointer;
      background-color: var(--yellow-4);
      appearance: none;
      border-radius: var(--radius-round);
      margin-bottom: var(--size-4);
      height: var(--size-2);
    }
    
    .label {
      font-size: var(--font-size-1);
      font-weight: var(--font-weight-5);
    }
  }
}

